<div class="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="title">
					<h1 class="text-center">Where in the World is Stefan?</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<div id="button">
						<a class="btn btn-primary btn-lg text-center" href="https://g.co/kgs/6YvKfV" role="button">Find out!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>