<div class="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="title">
					<h1 class="text-center">Where in the World is Stefan?</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<div id="button">
						<button type="button" class="btn btn-primary btn-lg text-center">Find out!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>